@import "tailwindcss";

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #cecece;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #22c55e;
  border-radius: 10px;
}

::selection {
  background-color: #22c55e;
  color: white;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.bg-animated-gradient {
  background-size: 300% 300%;
  animation: gradientMove 10s ease infinite;
}

@keyframes skeletonGradientMove {
  0% {
    background-position: 150% 0;
  }
  100% {
    background-position: -150% 0;
  }
}

.bg-skeleton-gradient {
  background-size: 300% 100%;
  animation: skeletonGradientMove 3s linear infinite;
}
